@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--light-small-header-bg: #ecf0fa;
	--light-small-header-text: #142474;
	--dark-small-header-bg: #ecf0fa;
	--dark-small-header-text: #142474;
}

@font-face {
    font-family: "TaipeiSansBold" ;
    src: url("/fonts/TaipeiSansTC/TaipeiSansTCBeta-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "TaipeiSansRegular" ;
    src: url("/fonts/TaipeiSansTC/TaipeiSansTCBeta-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "TaipeiSansLight" ;
    src: url("/fonts/TaipeiSansTC/TaipeiSansTCBeta-Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.small-header {
	color: var(--light-small-header-text);
	background-color: var(--light-small-header-bg);
}
@media (prefers-color-scheme: dark) {
	.small-header {
		color: var(--dark-small-header-text);
		background-color: var(--dark-small-header-bg);
	}
}
